@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 17% 94%; /* #ECEFF1 */
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 207 88% 68%; /* #64B5F6 */
    --primary-foreground: 224 71% 4%;

    --secondary: 200 17% 89%;
    --secondary-foreground: 224 71% 4%;

    --muted: 200 17% 89%;
    --muted-foreground: 224 71% 24%;

    --accent: 33 100% 65%; /* #FFB74D */
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 17% 86%;
    --input: 200 17% 86%;
    --ring: 207 88% 68%;

    --radius: 0.5rem;

    --chart-1: 207 88% 68%;
    --chart-2: 33 100% 65%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 197 37% 24%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    
    --primary: 207 88% 68%;
    --primary-foreground: 224 71% 4%;
    
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    
    --accent: 33 100% 65%;
    --accent-foreground: 24 9.8% 10%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 207 88% 68%;

    --chart-1: 207 88% 68%;
    --chart-2: 33 100% 65%;
    --chart-3: 12 76% 61%;
    --chart-4: 173 58% 39%;
    --chart-5: 197 37% 24%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
